<div class="well single-card">
  <i class="mdi-action-favorite mdi-material-red" style="font-size: 40pt;"></i>
  <h3>Thank You</h3>
  <p>Together we don't just give things, we give hope. We'll keep you updated on when the goods get delivered, how your requester is doing, and the Thank You.</p>
</div>