<div class="well single-card">
  <form id="checkout" method="post" action="/api/payment/submit">
    <div class="form-group">
        <label class="control-label" for="inputLarge">Name</label>
        <input required class="form-control input-lg" type="text" id="inputLarge" name="name">
    </div>
    <div class="form-group">
        <label class="control-label" for="inputLarge">Email</label>
        <input required class="form-control input-lg" type="text" id="inputLarge" name="email">
    </div>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input required type="text" class="form-control" name="amount">
      <span class="input-group-btn"></span>
    </div>
    <br>
    <div id="payment-form"></div>
    <input class="btn btn-default middle-button" type="submit" value="Donate">
  </form>
</div>
