<nav class="navbar navbar-default" ng-controller="navbarController">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><i class="mdi-action-favorite mdi-material-red" style="font-size: 17pt;"></i> Random Acts</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/')}"><a href="#/">Acts</a></li>
        <li ng-class="{active: isActive('/thankyou')}"><a href="#/thankyou">Thank Yous</a></li>
        <li ng-class="{active: isActive('/donation')}"><a href="#/donation">Donate</a></li>
        <li ng-class="{active: isActive('/request')}"><a href="#/request">Request</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a>Why We Do It</a></li>
            <li><a>The Team</a></li>
            <li role="separator" class="divider"></li>
            <li><a>How It All Works</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
