<div class="well request-form">
  <h3>{{act.first_name}}'s <span class="request-help">story:</span></h3>
  <p>
    {{act.story}}
  </p>
  <h3>{{act.first_name}}'s <span class="request-help">need:</span> {{act.needs}}</h3>
  <h3>{{act.first_name}}'s <span class="request-help">request:</span> ${{act.amount}}</h3>
</div>
<div class="well single-card request-header">
  <form id="checkout" method="post" action="/api/payment/submit">
    <div class="form-group">
        <label class="control-label" for="inputLarge">Name</label>
        <input required class="form-control input-lg" type="text" id="inputLarge" name="name">
    </div>
    <div class="form-group">
        <label class="control-label" for="inputLarge">Email</label>
        <input required class="form-control input-lg" type="text" id="inputLarge" name="email">
    </div>
    <div style="display:none;" class="input-group">
      <span class="input-group-addon">$</span>
      <input required type="text" class="form-control" name="amount" value="{{act.amount}}">
      <span class="input-group-btn">
      </span>
    </div>
    <br>
    <div id="payment-form"></div>
    <input class="btn btn-default middle-button" type="submit" value="Donate">
  </form>
</div>