<div class="container">
  <div class="row text-center fadein">
    <h1>Pay It Forward</h1>
    <h1>Do Good</h1>
    <h1>Help Others</h1>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="well">
        Awaiting Donation
        <h2>$105</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        Completed Donations
        <h2>$245</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        Thank Yous
        <h2>16</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h1 class="text-center">Current Acts</h1>
</div>
<div class="row">
  <div ng-repeat="act in acts">
    <div class="well request-well col-md-10">
      <a href="#/request_donation?id={{act.id}}"><span class="request-help">Help</span></a>
      <h3 class="request-h">{{act.first_name}}</h3>
      <span class="request-get">in</span>
      <h3 class="request-h">{{act.city}}</h3>
      <span class="request-get">get some</span>
      <h3 class="request-h">{{act.needs}}</h3>
    </div>
  </div>
</div>