<div class="well request-form">
  <div class="request-header">
    <span ng-hide="request.first_name" class="request-get">I</span>
    <span ng-show="request.first_name" class="request-help">{{request.first_name}}</span>
    <span class="request-get"> would like some </span>
    <span ng-hide="request.needs" class="request-get">help</span>
    <span ng-show="request.needs" class="request-help">{{request.needs}}</span>
  </div>
  <br>
  <form ng-submit="submitRequest()" action="#/request_confirmation">
    <div class="form-group col-md-4">
      <label for="request-first-name">First Name</label>
      <input required ng-model="request.first_name" type="text" class="form-control" id="request-first-name" placeholder="First Name">
    </div>
    <div class="form-group col-md-4">
      <label for="request-needs">My Need (one or two words)</label>
      <input required ng-model="request.needs" type="text" class="form-control" id="request-needs" placeholder="My Need">
    </div>

    <div class="form-group col-md-4">
      <label for="request-amount">&nbsp;&nbsp;&nbsp;&nbsp;About How Much Would This Cost?</label>
      <div class="input-group">

        <span class="input-group-addon">$</span>
        
        <input required ng-model="request.amount" type="text" class="form-control" id="request-amount" placeholder="Amount">
      </div>
    </div>

    <div class="form-group col-md-12">
      <label for="request-">What's Your Story?</label>
      <textarea required ng-model="request.story" class="form-control" rows="5" id="request-story" placeholder="Story"></textarea>
    </div>
    <div class="form-group col-md-3">
      <label for="request-last-name">Last Name</label>
      <input ng-model="request.last_name" type="text" class="form-control" id="request-last-name" placeholder="Last Name">
    </div>
    <div class="form-group col-md-3">
      <label for="request-address1">Address</label>
      <input ng-model="request.address_1" type="text" class="form-control" id="request-address1" placeholder="Address">
    </div>
    <div class="form-group col-md-3">
      <label for="request-address2">Suite/Apt</label>
      <input ng-model="request.address_2" type="text" class="form-control" id="request-address2" placeholder="Suite/Apt">
    </div>
    <div class="form-group col-md-3">
      <label for="request-city">City</label>
      <input required ng-model="request.city" type="text" class="form-control" id="request-city" placeholder="City">
    </div>
    <div class="form-group col-md-3">
      <label for="request-state">State</label>
      <input required ng-model="request.state" type="text" class="form-control" id="request-state" placeholder="State">
    </div>
    <div class="form-group col-md-3">
      <label for="request-zip-code">Zipcode</label>
      <input ng-model="request.zip_code" type="text" class="form-control" id="request-zip-code" placeholder="Zipcode">
    </div>
    <div class="form-group col-md-3">
      <label for="request-phone">Phone</label>
      <input ng-model="request.phone" type="text" class="form-control" id="request-phone" placeholder="Phone">
    </div>
    <div class="form-group col-md-3">
      <label for="request-email">Email</label>
      <input ng-model="request.email" type="text" class="form-control" id="request-email" placeholder="Email">
    </div>
    <div class="form-group col-md-12">
      <label for="request-notes">Delivery Notes</label>
      <textarea ng-model="request.notes" class="form-control" rows="5" id="request-notes" placeholder="Notes"></textarea>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-default middle-button">Submit</button>
    </div>
    <div style="clear:both"></div>
  </form>
</div>