<div class="well single-card">
  <i class="mdi-action-favorite mdi-material-red" style="font-size: 40pt;"></i>
  <h3>We have your request</h3>
  <p>Everyone needs help once in a while and there's no shame to that. We'll put your request out and try to get it answered as quickly as possible. If we have the funds, we'll answer it ourselves.</p>
  <p>Thank you for trusting us.</p>
</div>