<div class="row">
  <h1 class="text-center">Together We Thank You</h1>
</div>
<br>
<div class="row">
  <div ng-repeat="thankyou in thankyous">
    <div class="well request-well col-md-10">
      <p>
        {{thankyou.thankyou}}
      </p>
      <p>Thank you, {{thankyou.name}}</p>
    </div>
  </div>
</div>