#payment-form {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.request-form {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.request-header {
    text-align: center;
}

.single-card {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.request-help {
    font-size: 24px;
    color: #00BCD4;
}

.request-get {
    font-size: 24px;
    color: #B6B6B6;
}

.request-h {
    display: inline;
}

.request-well {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
    max-width: 550px;
}

a {
    cursor: pointer;
}

.text-center {
  text-align: center;
}

.fadein {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.middle-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}